body{
    background-color:black;
}
.header{
    display:flex;
}
.text{
    text-align:center;
    color:white;
}
button{
    height: 40px;
    font-size: medium;
}
.grid-container{
    grid-template-rows: 50% 50%;
}
pre{
    color:rgb(1, 202, 217);
    text-align: center;
    font:bold;
    font-size: 40px;
}
p{
    color:rgb(1, 202, 217);
    text-align: center;
}
h1, h3{
    color: white;
    text-align: center;
}
.video{
    margin: auto;
    padding-left:5%;
}